.list-item.selected {
  background-color: var(--list-item-hover-bg);
  outline: 1px solid var(--border-color);
}

.list-section {
  flex-grow: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: var(--list-section-bg);
}

.list-item {
  padding: 11px 15px;
  background: var(--list-item-bg);
  color: var(--text-color);
  border-radius: .4em;
  box-shadow: none;
  transition: background-color 0.05s ease-in-out;
}

.list-item:hover {
  background-color: var(--list-item-hover-bg);
  cursor: pointer;
}

.loading {
  text-align: center;
  padding: 15px;
  font-size: 1em;
  color: #888;
  border-radius: .4em;
  background-color: rgba(255, 255, 255, 0.1);
}
