.list-item.selected {
  background-color: var(--list-item-hover-bg);
  outline: 1px solid var(--border-color);
}

.list-section {
  flex-grow: 1;
  overflow-y: auto;
  background: var(--list-section-bg);
  scroll-snap-type: y mandatory;
  scroll-padding-top: 50vh;
  overscroll-behavior-y: contain;
}

.list-item {
  padding: 11px 15px;
  color: var(--text-color);
  border-radius: .4em;
  box-shadow: none;
  transition: background-color 0.05s ease-in-out;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-item:hover {
  background-color: var(--list-item-hover-bg);
  cursor: pointer;
}

.loading {
  text-align: center;
  padding: 15px;
  font-size: 1em;
  color: #888;
  border-radius: .4em;
  background-color: rgba(255, 255, 255, 0.1);
}

.list-section::-webkit-scrollbar {
  width: 8px;
}

.list-section::-webkit-scrollbar-track { 
  background: var(--list-section-bg);
  border-radius: 10px;
}

.list-section::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 10px;
}

.list-section::-webkit-scrollbar-thumb:hover {
  background: var(--placeholder-color);
}
